* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (min-width: 0px) {
  .only-mobile {
    display: flex !important;
  }
}
@media (min-width: 768px) {
  .only-mobile {
    display: none !important;
  }
}
@media (min-width: 0px) {
  .tablet-desktop {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .tablet-desktop {
    display: flex !important;
  }
}
@media (min-width: 0px) {
  .header-mobile {
    grid-area: header-mobile;
  }
  .header-mobile__logo {
    width: 20rem;
  }
  .header-mobile__logo img {
    width: 100%;
  }
  .header-mobile__sections {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .header-mobile__sections li {
    font-size: 2rem;
  }
  .header-mobile__sections li a {
    color: black;
    text-decoration: none;
  }
  .navbar {
    bottom: 0;
    z-index: 2;
    position: sticky;
    grid-area: navbar-mobile;
    background-color: white;
  }
  .navbar-logo {
    width: 12rem;
  }
  .navbar-logo img {
    width: 100%;
  }
  .navbar-sections {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .navbar-sections li {
    font-size: 2rem;
  }
  .navbar-sections li a {
    text-decoration: none;
    color: black;
    width: 2.2rem;
    border-radius: 100%;
  }
  .navbar-sections li a img {
    width: 2.2rem;
    border-radius: 100%;
  }
}
@media (min-width: 768px) {
  .header-tabletDesktop .navbar-logo {
    width: 15rem;
  }
  .header-tabletDesktop .navbar-sections li {
    font-size: 2.5rem;
  }
  .header-tabletDesktop .navbar-sections li a {
    width: 3rem;
    border-radius: 100%;
  }
  .header-tabletDesktop .navbar-sections li a img {
    border-radius: 100%;
    width: 3rem;
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 0px) {
  .body__index {
    display: grid;
    grid-template-areas: "header-mobile" "stories" "feed" "navbar-mobile";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .body__index .stories {
    grid-area: stories;
    padding: 1rem 0 1rem 0;
    overflow-x: auto;
  }
  .body__index .stories-item {
    width: 6.5rem;
  }
  .body__index .stories-item__img {
    width: 6.5rem;
    padding: 0.2rem;
    background: linear-gradient(45deg, #F09433 0%, #E6683C 25%, #DC2743 50%, #CC2366 75%, #BC1888 100%);
    border-radius: 100%;
    transition: all 0.1s;
  }
  .body__index .stories-item__img img {
    border: solid white 0.2rem;
    border-radius: 100%;
    width: 100%;
  }
  .body__index .stories-item__img:active {
    transform: scale(0.95);
  }
  .body__index .stories-item span {
    font-size: 1.1rem;
    font-weight: 500;
  }
  .body__index .feed {
    grid-area: feed;
  }
  .body__index .feed-item {
    padding-bottom: 1rem;
  }
  .body__index .feed-item__user img {
    width: 3rem;
    border: solid rgb(225, 225, 225) 0.1rem;
    border-radius: 100%;
  }
  .body__index .feed-item__img {
    width: 100%;
  }
  .body__index .feed-item__img img {
    width: 100%;
  }
  .body__index .feed-item__actions i {
    font-size: 2rem;
  }
  .body__index .feed-item__likes span {
    font-size: 1.2rem;
  }
  .body__index .feed-item__footer {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  .body__index .feed {
    margin: 0 auto;
    max-width: 768px;
  }
  .body__index .feed-item {
    border: solid rgb(225, 225, 225) 0.1rem;
    border-radius: 1rem;
  }
}
@media (min-width: 1200px) {
  .body__index .feed-item__user {
    padding: 1rem !important;
  }
  .body__index .feed-item__actions {
    padding: 1rem !important;
  }
  .body__index .feed-item__footer {
    padding: 1rem !important;
  }
}

/*# sourceMappingURL=style.css.map */
